@using RoeldeWit.FootballManager.Domain.Entities
@model RoeldeWit.FootballManager.Web.Models.DetailsCountryViewModel

<h2>@Model.Name</h2>
<h3>Leagues</h3>
@if (Model.Leagues.Any())
{
    <ul>
        @foreach (League league in Model.Leagues)
        {
            <li>@league.Name</li>
        }
    </ul>
}
else
{
    <p>This country doesn't have any leagues.</p>
}

<a href="@Url.Action("Create", "League", new {countryId = Model.Id})" class="btn btn-default" role="button">Add league</a>